{
  "openapi": "3.1.1",
  "info": {
    "title": "Blink Home Monitor API",
    "description": "Complete Blink Camera API specification based on BlinkMonitorProtocol documentation and blinkpy implementation",
    "version": "5.0.0",
    "contact": {
      "name": "Blink Support",
      "url": "https://support.blinkforhome.com",
      "email": "support@blinkforhome.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://blinkforhome.com/terms"
    },
    "termsOfService": "https://blinkforhome.com/terms"
  },
  "servers": [
    {
      "url": "https://rest-prod.immedia-semi.com",
      "description": "Production Blink API server (US)"
    },
    {
      "url": "https://rest-prde.immedia-semi.com",
      "description": "Production Blink API server (Europe)"
    },
    {
      "url": "https://rest-prfr.immedia-semi.com",
      "description": "Production Blink API server (France)"
    }
  ],
  "security": [
    {
      "TokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication and session management"
    },
    {
      "name": "System",
      "description": "System-wide information and configuration"
    },
    {
      "name": "Networks",
      "description": "Network (sync module) management and arm/disarm operations"
    },
    {
      "name": "Cameras",
      "description": "Camera configuration, control, and status"
    },
    {
      "name": "Live Streaming",
      "description": "Real-time video streaming from cameras"
    },
    {
      "name": "Videos",
      "description": "Video clip management and download"
    },
    {
      "name": "Media",
      "description": "Media file access and thumbnail operations"
    },
    {
      "name": "Commands",
      "description": "Asynchronous command execution and status polling"
    },
    {
      "name": "Local Storage",
      "description": "Local storage operations on sync modules"
    },
    {
      "name": "Schedules",
      "description": "Automated scheduling and program management"
    },
    {
      "name": "Notifications",
      "description": "Notification settings and camera snooze operations"
    }
  ],
  "paths": {
    "/api/v5/account/login": {
      "post": {
        "summary": "Login to Blink servers",
        "description": "Client Login to Blink Account on Blink Servers",
        "operationId": "login",
        "security": [],
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password",
                  "unique_id",
                  "device_identifier"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User's email address",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "User's password",
                    "minLength": 8
                  },
                  "unique_id": {
                    "type": "string",
                    "description": "Unique device identifier (UUID format recommended)",
                    "example": "12345678-1234-1234-1234-123456789012"
                  },
                  "device_identifier": {
                    "type": "string",
                    "description": "Device identifier string",
                    "example": "iPhone 15.0 | 3.0 | 300"
                  },
                  "client_name": {
                    "type": "string",
                    "default": "Computer",
                    "description": "Human-readable client name"
                  },
                  "reauth": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether this is a re-authentication request"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful. Returns account information, authentication token, and verification details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "type": "object"
                    },
                    "auth": {
                      "type": "object"
                    },
                    "phone": {
                      "type": "object"
                    },
                    "verification": {
                      "type": "object"
                    },
                    "lockout_time_remaining": {
                      "type": "integer"
                    },
                    "force_password_reset": {
                      "type": "integer"
                    },
                    "allow_pin_resend_seconds": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "account": {
                    "account_id": 1234,
                    "user_id": 123456,
                    "client_id": 1234567,
                    "new_account": false,
                    "tier": "e002",
                    "region": "eu",
                    "account_verification_required": false,
                    "phone_verification_required": false,
                    "client_verification_required": false,
                    "verification_channel": "phone"
                  },
                  "auth": {
                    "token": "anAuthTokenString"
                  },
                  "phone": {
                    "number": "+49*******1234",
                    "last_4_digits": "1234",
                    "country_calling_code": "49",
                    "valid": true
                  },
                  "verification": {
                    "email": {
                      "required": false
                    },
                    "phone": {
                      "required": true,
                      "channel": "sms"
                    }
                  },
                  "lockout_time_remaining": 0,
                  "force_password_reset": false,
                  "allow_pin_resend_seconds": 60
                }
              }
            }
          },
          "400": {
            "description": "Invalid credentials or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many login attempts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v5/accounts/{AccountID}/users/{UserID}/clients/{ClientID}/client_verification/pin/verify": {
      "post": {
        "summary": "Verify 2FA PIN code",
        "description": "Verify the PIN code sent via email or SMS for two-factor authentication. Required for new clients or when explicitly requested.",
        "operationId": "verify2FA",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pin"
                ],
                "properties": {
                  "pin": {
                    "type": "string",
                    "pattern": "^[0-9]{6}$",
                    "description": "6-digit PIN code from email/SMS",
                    "example": "123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PIN verification successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid PIN code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/account/{AccountID}/client/{ClientID}/logout": {
      "post": {
        "summary": "Logout from Blink servers",
        "description": "Client Logout Blink Account on Blink Servers",
        "operationId": "logout",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "responses": {
          "200": {
            "description": "Logout successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "logout"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/accounts/{AccountID}/homescreen": {
      "get": {
        "summary": "HomeScreen",
        "description": "Retrieve Client 'home screen' data. Returns detailed information about the Account including Network, Synch Module, and Camera Info.",
        "parameters": [
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The AccountID"
          }
        ],
        "responses": {
          "200": {
            "description": "Home screen data including account, networks, sync modules, cameras, and device limits.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "account": {
                    "id": 1234,
                    "email_verified": true,
                    "email_verification_required": false
                  },
                  "networks": [
                    {
                      "id": 5678,
                      "created_at": "2016-01-03T22:37:59+00:00",
                      "updated_at": "2020-08-03T22:37:50+00:00",
                      "name": "Network-Name",
                      "time_zone": "America/Chicago",
                      "dst": true,
                      "armed": true,
                      "lv_save": false
                    }
                  ],
                  "sync_modules": [
                    {
                      "id": 123456,
                      "created_at": "2017-09-16T15:45:36+00:00",
                      "updated_at": "2020-08-09T00:00:31+00:00",
                      "onboarded": true,
                      "status": "online",
                      "name": "My Blink Sync Module",
                      "serial": "123456789",
                      "fw_version": "2.13.26",
                      "last_hb": "2020-08-09T14:14:13+00:00",
                      "wifi_strength": 5,
                      "network_id": 5678,
                      "enable_temp_alerts": true
                    }
                  ],
                  "cameras": [
                    {
                      "id": 1234,
                      "created_at": "2016-01-03T23:15:42+00:00",
                      "updated_at": "2020-08-09T13:02:14+00:00",
                      "name": "Camera Name",
                      "serial": "123456789",
                      "fw_version": "2.151",
                      "type": "white",
                      "enabled": false,
                      "thumbnail": "/media/production/account/1234/network/5678/camera/1234/clip_name",
                      "status": "done",
                      "battery": "ok",
                      "usage_rate": true,
                      "network_id": 5678,
                      "issues": [],
                      "signals": {
                        "lfr": 3,
                        "wifi": 5,
                        "temp": 68,
                        "battery": 3
                      }
                    }
                  ],
                  "sirens": [],
                  "chimes": [],
                  "video_stats": {
                    "storage": 1,
                    "auto_delete_days": 7
                  },
                  "doorbell_buttons": [],
                  "owls": [],
                  "app_updates": {
                    "message": "An app update is required",
                    "code": 105,
                    "update_available": true,
                    "update_required": true
                  },
                  "device_limits": {
                    "camera": 10,
                    "chime": 5,
                    "doorbell_button": 2,
                    "owl": 10,
                    "siren": 5,
                    "total_devices": 20
                  }
                }
              }
            }
          }
        },
        "operationId": "homescreen"
      }
    },
    "/networks": {
      "get": {
        "summary": "Get all networks information",
        "description": "Retrieve information about all networks associated with the authenticated account. This endpoint is deprecated in favor of the homescreen endpoint.",
        "operationId": "getNetworks",
        "tags": [
          "Networks"
        ],
        "deprecated": true,
        "responses": {
          "200": {
            "description": "Networks retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "networks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Network"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/api/v1/accounts/{AccountID}/networks/{NetworkID}/state/arm": {
      "post": {
        "summary": "Arm System",
        "description": "Arm the given network - that is, start recording/reporting motion events for enabled cameras. When this call returns, it does not mean the arm request is complete, the client must gather the command ID from the response and poll for the status of the command.",
        "parameters": [
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The AccountID"
          },
          {
            "name": "NetworkID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The NetworkID"
          }
        ],
        "responses": {
          "200": {
            "description": "A command object. This call is asynchronous and is monitored by the Command Status API call using the returned Command Id.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": 123456789,
                  "network_id": 1234,
                  "command": "arm",
                  "state": "new",
                  "commands": [
                    {
                      "id": 123456780,
                      "network_id": 1234,
                      "command": "config_lfr",
                      "state": "running"
                    },
                    {
                      "id": 123456781,
                      "network_id": 1234,
                      "command": "config_lfr",
                      "state": "running"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "arm"
      }
    },
    "/api/v1/accounts/{AccountID}/networks/{NetworkID}/state/disarm": {
      "post": {
        "summary": "Disarm the security system",
        "description": "Disarm the given network - that is, stop recording/reporting motion events for enabled cameras. When this call returns, it does not mean the disarm request is complete, the client must gather the command ID from the response and poll for the status of the command.",
        "operationId": "disarmSystem",
        "tags": [
          "Networks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/NetworkId"
          }
        ],
        "responses": {
          "200": {
            "description": "A command object. This call is asynchronous and is monitored by the Command Status API call using the returned Command Id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                },
                "example": {
                  "id": 123456789,
                  "network_id": 1234,
                  "command": "disarm",
                  "state": "new",
                  "commands": [
                    {
                      "id": 123456780,
                      "network_id": 1234,
                      "command": "config_lfr",
                      "state": "running"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Network not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/network/{NetworkID}/command/{CommandID}": {
      "get": {
        "summary": "Command Status",
        "description": "Return the status of the given command. Most Camera and System/Module APIs make a call from the Blink Server to your local Synch Module. These calls are asynchronous and return a command object. Use the returned command id in these calls to poll for completion of the command using this API until the complete flag is true in the response.",
        "parameters": [
          {
            "name": "NetworkID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The NetworkID"
          },
          {
            "name": "CommandID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The CommandID"
          }
        ],
        "responses": {
          "200": {
            "description": "Command status with completion flag and status information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "complete": true,
                  "status": 0,
                  "status_msg": "Command succeeded",
                  "status_code": 908,
                  "commands": [
                    "<<the original command object>>"
                  ],
                  "media_id": null
                }
              }
            }
          }
        },
        "operationId": "command"
      }
    },
    "/network/{NetworkID}/camera/{CameraID}/enable": {
      "post": {
        "summary": "Enable Motion Detection",
        "description": "Enable motion detection for the given Camera. Note: No motion detection or video recording will take place unless the system is armed.",
        "parameters": [
          {
            "name": "NetworkID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The NetworkID"
          },
          {
            "name": "CameraID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The CameraID"
          }
        ],
        "responses": {
          "200": {
            "description": "A command object. This call is asynchronous and is monitored by the Command Status API call using the returned Command Id.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": 123456789,
                  "created_at": "2020-08-09T22:20:16+00:00",
                  "updated_at": "2020-08-09T22:20:16+00:00",
                  "execute_time": "2020-08-09T22:20:16+00:00",
                  "command": "config_lfr",
                  "state_stage": "rest",
                  "state_condition": "new",
                  "target": "camera",
                  "target_id": 5678,
                  "camera_id": 5678,
                  "network_id": 1234,
                  "account_id": 1234,
                  "sync_module_id": 123456
                }
              }
            }
          }
        },
        "operationId": "enable"
      }
    },
    "/network/{NetworkID}/camera/{CameraID}/disable": {
      "post": {
        "summary": "Disable Motion Detection",
        "description": "Disable motion detection for the given Camera.",
        "parameters": [
          {
            "name": "NetworkID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The NetworkID"
          },
          {
            "name": "CameraID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The CameraID"
          }
        ],
        "responses": {
          "200": {
            "description": "A command object. This call is asynchronous and is monitored by the Command Status API call using the returned Command Id.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": 123456789,
                  "created_at": "2020-08-09T22:20:16+00:00",
                  "command": "config_lfr",
                  "state_condition": "new",
                  "target": "camera",
                  "camera_id": 5678,
                  "network_id": 1234,
                  "account_id": 1234
                }
              }
            }
          }
        },
        "operationId": "disable"
      }
    },
    "/network/{NetworkID}/camera/{CameraID}/thumbnail": {
      "post": {
        "summary": "Create New Thumbnail",
        "description": "Set the thumbnail by taking a snapshot of the current view of the camera.",
        "parameters": [
          {
            "name": "NetworkID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The NetworkID"
          },
          {
            "name": "CameraID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The CameraID"
          }
        ],
        "responses": {
          "200": {
            "description": "A command object. This call is asynchronous and is monitored by the Command Status API call using the returned Command Id.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": 1234567890,
                  "created_at": "2020-08-22T13:09:00+00:00",
                  "updated_at": "2020-08-22T13:09:00+00:00",
                  "execute_time": "2020-08-22T13:09:00+00:00",
                  "command": "thumbnail",
                  "state_stage": "rest",
                  "state_condition": "new",
                  "target": "camera",
                  "target_id": 123456,
                  "camera_id": 123456,
                  "network_id": 1234,
                  "account_id": 1234,
                  "sync_module_id": 123456
                }
              }
            }
          }
        },
        "operationId": "setThumbnail"
      }
    },
    "/network/{NetworkID}/camera/{CameraID}/clip": {
      "post": {
        "summary": "Record Video Clip from Camera",
        "description": "Record Video Clip from Camera",
        "parameters": [
          {
            "name": "NetworkID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The NetworkID"
          },
          {
            "name": "CameraID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The CameraID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Command ID for status monitoring"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Command creation timestamp"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "Command last update timestamp"
                    },
                    "execute_time": {
                      "type": "string",
                      "description": "Command execution time"
                    },
                    "command": {
                      "type": "string",
                      "description": "Command type (clip)"
                    },
                    "state_stage": {
                      "type": "string",
                      "description": "Current command stage"
                    },
                    "state_condition": {
                      "type": "string",
                      "description": "Command condition (new, done, etc.)"
                    },
                    "camera_id": {
                      "type": "integer",
                      "description": "Target camera ID"
                    },
                    "network_id": {
                      "type": "integer",
                      "description": "Target network ID"
                    },
                    "account_id": {
                      "type": "integer",
                      "description": "Account ID"
                    }
                  }
                },
                "example": {
                  "id": 1234567890,
                  "created_at": "2020-08-23T11:29:35+00:00",
                  "updated_at": "2020-08-23T11:29:35+00:00",
                  "execute_time": "2020-08-23T11:29:35+00:00",
                  "command": "clip",
                  "state_stage": "rest",
                  "state_condition": "new",
                  "camera_id": 123456,
                  "network_id": 1234,
                  "account_id": 1234,
                  "sync_module_id": 123456
                }
              }
            }
          }
        },
        "operationId": "recordClip"
      }
    },
    "/api/v5/accounts/{AccountID}/networks/{NetworkID}/cameras/{CameraID}/liveview": {
      "post": {
        "summary": "Liveview",
        "description": "Ask for a live video stream of the given camera",
        "parameters": [
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The AccountID"
          },
          {
            "name": "NetworkID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The NetworkID"
          },
          {
            "name": "CameraID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The CameraID"
          }
        ],
        "responses": {
          "200": {
            "description": "A command object containing a Real Time Streaming Protocol (RTSP) URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "command_id": 1234567890,
                  "join_available": true,
                  "join_state": "available",
                  "server": "rtsps://<URL>",
                  "duration": 300,
                  "continue_interval": 30,
                  "continue_warning": 10,
                  "submit_logs": true,
                  "new_command": true,
                  "media_id": null,
                  "options": {}
                }
              }
            }
          }
        },
        "operationId": "liveview"
      }
    },
    "/api/v1/accounts/{AccountID}/media/changed": {
      "get": {
        "summary": "Get videos/clips since timestamp",
        "description": "Get Media (Generally video) events since the given timestamp in the query parameter.",
        "operationId": "getVideos",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "since",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "description": "Timestamp in epoch seconds (Unix timestamp)",
            "example": "1640995200"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Page number for pagination (0-based)",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Media events array with pagination information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "media": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VideoClip"
                      }
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Maximum items per page"
                    }
                  }
                },
                "example": {
                  "limit": 25,
                  "purge_id": 1234567890,
                  "refresh_count": 0,
                  "media": [
                    {
                      "id": 1234567890,
                      "created_at": "2020-08-06T01:30:59+00:00",
                      "updated_at": "2020-08-06T01:37:12+00:00",
                      "deleted": false,
                      "device": "camera",
                      "device_id": 1234567,
                      "device_name": "The Device Name",
                      "network_id": 1234,
                      "network_name": "The Network Name",
                      "type": "video",
                      "source": "pir",
                      "watched": true,
                      "partial": false,
                      "thumbnail": "/api/v2/accounts/1234/media/thumb/mediathumbnailname",
                      "media": "/api/v2/accounts/1234/media/clip/mediavideoname.mp4",
                      "additional_devices": [],
                      "time_zone": "America/Chicago"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/api/v2/accounts/{AccountID}/media/clip/{filename}": {
      "get": {
        "summary": "Download video clip file",
        "description": "Download the actual video file for a clip. The filename is typically obtained from the media field of a VideoClip object.",
        "operationId": "downloadVideoClip",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9_-]+\\.mp4$"
            },
            "description": "Video clip filename (usually ends with .mp4)",
            "example": "12345_67890_clip.mp4"
          }
        ],
        "responses": {
          "200": {
            "description": "Video clip file",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Video clip not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/accounts/{AccountID}/media/thumb/{filename}": {
      "get": {
        "summary": "Download video thumbnail image",
        "description": "Download the thumbnail image for a video clip. The filename is typically obtained from the thumbnail field of a VideoClip object.",
        "operationId": "downloadVideoThumbnail",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9_-]+\\.jpg$"
            },
            "description": "Thumbnail filename (usually ends with .jpg)",
            "example": "12345_67890_thumb.jpg"
          }
        ],
        "responses": {
          "200": {
            "description": "Thumbnail image file",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Thumbnail not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/media/accounts/{AccountID}/networks/{NetworkID}/{ProductType}/{CameraID}/thumbnail/thumbnail.jpg": {
      "get": {
        "summary": "Get camera thumbnail image (direct media URL)",
        "description": "Retrieve the current thumbnail image directly from the camera. This URL format is used for direct media access with timestamp and extension parameters.",
        "operationId": "getMediaThumbnail",
        "tags": [
          "Cameras",
          "Media"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/CameraId"
          },
          {
            "name": "product_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "owl",
                "catalina",
                "mini",
                "doorbell"
              ]
            },
            "description": "Camera product type/model",
            "example": "catalina"
          },
          {
            "name": "ts",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "description": "Timestamp parameter for cache busting",
            "example": "1640995200"
          },
          {
            "name": "ext",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "jpg"
            },
            "description": "File extension parameter",
            "example": "jpg"
          }
        ],
        "responses": {
          "200": {
            "description": "Camera thumbnail image",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Thumbnail not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/networks/{NetworkID}/programs": {
      "get": {
        "summary": "List Schedules",
        "description": "List the schedules (programs) defined for the given Network/Blink Module",
        "parameters": [
          {
            "name": "NetworkID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The NetworkID"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of program objects with schedule information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": [
                  {
                    "id": 123,
                    "network_id": 1234,
                    "status": "disabled",
                    "name": "Schedule Name",
                    "schedule": [
                      {
                        "dow": [
                          "mon",
                          "tue",
                          "wed",
                          "thu",
                          "fri"
                        ],
                        "devices": [],
                        "time": "2016-06-02 14:45:00 +0000",
                        "action": "arm"
                      },
                      {
                        "dow": [
                          "mon",
                          "tue",
                          "wed",
                          "thu",
                          "fri"
                        ],
                        "devices": [],
                        "time": "2016-06-02 21:00:00 +0000",
                        "action": "disarm"
                      }
                    ],
                    "format": "v1"
                  }
                ]
              }
            }
          }
        },
        "operationId": "listPrograms"
      }
    },
    "/api/v1/networks/{NetworkID}/programs/{ProgramID}/enable": {
      "post": {
        "summary": "Enable Schedule",
        "description": "Enable Schedule",
        "parameters": [
          {
            "name": "NetworkID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The NetworkID"
          },
          {
            "name": "ProgramID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ProgramID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "message": "Successfully enabled program 700",
                  "code": 802
                }
              }
            }
          }
        },
        "operationId": "enableProgram"
      }
    },
    "/api/v1/networks/{NetworkID}/programs/{ProgramID}/disable": {
      "post": {
        "summary": "Disable schedule",
        "description": "Disable a specific schedule/program for the network.",
        "operationId": "disableSchedule",
        "tags": [
          "Networks",
          "Schedules"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "name": "ProgramID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "description": "The ProgramID"
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule disabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/api/v1/accounts/{AccountID}/notifications/configuration": {
      "get": {
        "summary": "Get Account Notification Flags",
        "description": "Flag status for various notifications",
        "parameters": [
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The AccountID"
          }
        ],
        "responses": {
          "200": {
            "description": "Notification configuration flags for the account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "notifications": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "notifications": {
                    "low_battery": true,
                    "camera_offline": true,
                    "camera_usage": true,
                    "scheduling": true,
                    "motion": true,
                    "sync_module_offline": true,
                    "temperature": true,
                    "doorbell": true,
                    "wifi": true,
                    "lfr": true,
                    "bandwidth": true,
                    "battery_dead": true
                  }
                }
              }
            }
          }
        },
        "operationId": "getNotifications"
      },
      "post": {
        "summary": "Set Notification Flags",
        "description": "Set Account Notification Flags",
        "parameters": [
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The AccountID"
          }
        ],
        "responses": {
          "200": {
            "description": "Notification configuration update successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Client Notification Configure Update Successful"
                }
              }
            }
          }
        },
        "operationId": "setNotifications"
      }
    },
    "/api/v1/accounts/{AccountID}/networks/{NetworkID}/cameras/{CameraID}/snooze": {
      "post": {
        "summary": "Snooze Camera",
        "description": "Snooze (temporarily disable) motion-activated notifications for a camera.",
        "parameters": [
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The AccountID"
          },
          {
            "name": "NetworkID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The NetworkID"
          },
          {
            "name": "CameraID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The CameraID"
          }
        ],
        "responses": {
          "200": {
            "description": "Camera snooze operation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "snooze"
      }
    },
    "/api/v1/version": {
      "get": {
        "summary": "Check app version",
        "description": "Determine if a new version of the official client is available. This call does not require authentication. This information is also returned in the HomeScreen call.",
        "operationId": "version",
        "tags": [
          "System"
        ],
        "security": [],
        "parameters": [
          {
            "name": "APP-BUILD",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Client build string (e.g., 'IOS_8528', 'ANDROID_28373244')",
            "example": "IOS_8528"
          }
        ],
        "responses": {
          "200": {
            "description": "Version check result with update availability information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "update_available": {
                      "type": "integer"
                    },
                    "update_required": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "message": "OK",
                  "code": 103,
                  "update_available": false,
                  "update_required": false
                }
              }
            }
          }
        }
      }
    },
    "/regions": {
      "get": {
        "summary": "Get valid regions for locale",
        "description": "Get valid region info for a locale. Authentication is not required. Specific use for results is unknown.",
        "operationId": "getRegions",
        "tags": [
          "System"
        ],
        "security": [],
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{2}$"
            },
            "description": "Two character country code",
            "example": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "Region information with preferred region and available regions list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionsResponse"
                },
                "example": {
                  "preferred": "usu019",
                  "regions": {
                    "usu019": {
                      "display_order": 1,
                      "dns": "u019",
                      "friendly_name": "United States - CENTRAL",
                      "registration": true
                    },
                    "usu023": {
                      "display_order": 2,
                      "dns": "u023",
                      "friendly_name": "United States - EAST",
                      "registration": true
                    },
                    "e002": {
                      "display_order": 4,
                      "dns": "e002",
                      "friendly_name": "Europe",
                      "registration": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/network/{NetworkID}/camera/{CameraID}/config": {
      "get": {
        "summary": "Get camera configuration",
        "description": "Retrieve the current configuration settings for a specific camera.",
        "operationId": "getCameraConfig",
        "tags": [
          "Cameras"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/CameraId"
          }
        ],
        "responses": {
          "200": {
            "description": "Camera configuration retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CameraConfig"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Camera not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/network/{NetworkID}/camera/{CameraID}/update": {
      "post": {
        "summary": "Update camera configuration",
        "description": "Update configuration settings for a specific camera (primarily for Catalina cameras).",
        "operationId": "updateCameraConfig",
        "tags": [
          "Cameras"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/CameraId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Camera name"
                  },
                  "motion_sensitivity": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10,
                    "description": "Motion sensitivity level"
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether camera is enabled"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Camera configuration updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Camera not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/network/{NetworkID}/camera/{CameraID}/signals": {
      "get": {
        "summary": "Get camera sensor information",
        "description": "Retrieve current sensor readings from the camera including battery, temperature, and signal strength.",
        "operationId": "getCameraSensors",
        "tags": [
          "Cameras"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkId"
          },
          {
            "$ref": "#/components/parameters/CameraId"
          }
        ],
        "responses": {
          "200": {
            "description": "Camera sensor data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CameraSensors"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Camera not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/account/{AccountID}/client/{ClientID}/pin/verify": {
      "post": {
        "summary": "Verify Pin",
        "description": "Verify Client with PIN provided in an email. Pass a consistent Client UUID at login to avoid needing to do this more than once.",
        "parameters": [
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The AccountID"
          },
          {
            "name": "ClientID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ClientID"
          }
        ],
        "responses": {
          "200": {
            "description": "PIN verification result with validation status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "integer"
                    },
                    "require_new_pin": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "valid": true,
                  "require_new_pin": false,
                  "message": "Client has been successfully verified",
                  "code": 1234
                }
              }
            }
          }
        },
        "operationId": "verifyPin"
      }
    },
    "/api/v1/accounts/{AccountID}/clients/{ClientID}/options": {
      "get": {
        "summary": "Get Client Options",
        "description": "Get client specific options. Details unknown.",
        "parameters": [
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The AccountID"
          },
          {
            "name": "ClientID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ClientID"
          }
        ],
        "responses": {
          "200": {
            "description": "Client-specific options string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "options": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "options": "A_LONG_ALPHANUMERIC_STRING"
                }
              }
            }
          }
        },
        "operationId": "options"
      }
    },
    "/client/{ClientID}/update": {
      "post": {
        "summary": "Set Client Options",
        "description": "Set Client Options",
        "parameters": [
          {
            "name": "ClientID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ClientID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "client": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "client": {
                    "id": 1234567,
                    "created_at": "2019-09-20T17:59:16+00:00",
                    "updated_at": "2020-08-22T12:50:31+00:00",
                    "name": "",
                    "notify_sound": null,
                    "client_type": "ios",
                    "client_specifier": " |  | 6.0.13 (8528) #df463ac0",
                    "notification_key": "aNotificationKeyString",
                    "aws_key": null,
                    "os_version": "",
                    "device_identifier": "",
                    "app_version": "6.0.13 (8528) #df463ac0",
                    "unique_id": "aUUIDString",
                    "home": null,
                    "ssid": null,
                    "ssid_updated_at": "2020-08-22T12:50:31+00:00",
                    "enabled_notifications": 123456789012345,
                    "client_options": "aClientOptionsString",
                    "verified": true,
                    "user_id": 1234,
                    "account_id": 1234
                  }
                }
              }
            }
          }
        },
        "operationId": "updateoptions"
      }
    },
    "api/v1/accounts/{AccountID}/networks/{NetworkID}/state/disarm": {
      "post": {
        "summary": "Disarm System",
        "description": "Disarm System",
        "parameters": [
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The AccountID"
          },
          {
            "name": "NetworkID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The NetworkID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": 123456,
                  "complete": false,
                  "status": 0
                }
              }
            }
          }
        },
        "operationId": "disarm"
      }
    },
    "/api/v1/networks/{NetworkID}/programs/{ProgramID/update": {
      "post": {
        "summary": "Update Schedule",
        "description": "Update Schedule",
        "parameters": [
          {
            "name": "NetworkID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The NetworkID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "updateProgram"
      }
    },
    "/media/production/account/{AccountID}/network/{NetworkID}/camera/{CameraID}/{JPEG_File_Name}.jpg": {
      "get": {
        "summary": "Get Current Thumbnail",
        "description": "Retrieve the JPEG thumbnail picture of the given camera. The URL path is specified in the thumbnail attribute of the camera, for example from the HomeScreen call. Add the .jpg extension to the URL path.",
        "parameters": [
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The AccountID"
          },
          {
            "name": "NetworkID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The NetworkID"
          },
          {
            "name": "CameraID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The CameraID"
          },
          {
            "name": "JPEG_File_Name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The JPEG_File_Name"
          }
        ],
        "responses": {
          "200": {
            "description": "JPEG thumbnail image",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "operationId": "getThumbnail"
      }
    },
    "/api/v1/accounts/{AccountID}/media/changed?since={timestamp}&page={PageNumber}": {
      "get": {
        "summary": "Get Video Events",
        "description": "Get Video Events",
        "parameters": [
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The AccountID"
          },
          {
            "name": "timestamp",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The timestamp"
          },
          {
            "name": "PageNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The PageNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "integer"
                    },
                    "purge_id": {
                      "type": "integer"
                    },
                    "refresh_count": {
                      "type": "integer"
                    },
                    "media": {
                      "type": "array"
                    }
                  }
                },
                "example": {
                  "limit": 25,
                  "purge_id": 1234567890,
                  "refresh_count": 0,
                  "media": [
                    {
                      "id": 1234567890,
                      "created_at": "2020-08-06T01:30:59+00:00",
                      "updated_at": "2020-08-06T01:37:12+00:00",
                      "deleted": false,
                      "device": "camera",
                      "device_id": 1234567,
                      "device_name": "The Device Name",
                      "network_id": 1234,
                      "network_name": "The Netork Name",
                      "type": "video",
                      "source": "pir",
                      "watched": true,
                      "partial": false,
                      "thumbnail": "/api/v2/accounts/1234/media/thumb/mediathumbnailname",
                      "media": "/api/v2/accounts/1234/media/clip/mediavideoname.mp4",
                      "additional_devices": [],
                      "time_zone": "America/Chicago"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getVideoEvents"
      }
    },
    "/regions?locale={Two Character Country Locale}": {
      "get": {
        "summary": "Get Regions",
        "description": "Get Regions",
        "parameters": [
          {
            "name": "Two Character Country Locale",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Two Character Country Locale"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "preferred": {
                      "type": "string"
                    },
                    "regions": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "preferred": "usu019",
                  "regions": {
                    "usu019": {
                      "display_order": 1,
                      "dns": "u019",
                      "friendly_name": "United States - CENTRAL",
                      "registration": true
                    },
                    "usu023": {
                      "display_order": 2,
                      "dns": "u023",
                      "friendly_name": "United States - EAST",
                      "registration": true
                    },
                    "usu015": {
                      "display_order": 3,
                      "dns": "u015",
                      "friendly_name": "United States - WEST",
                      "registration": true
                    },
                    "e002": {
                      "display_order": 4,
                      "dns": "e002",
                      "friendly_name": "Europe",
                      "registration": true
                    },
                    "sg": {
                      "display_order": 5,
                      "dns": "prsg",
                      "friendly_name": "Southeast Asia",
                      "registration": true
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "regions"
      }
    },
    "/api/v1/account/options": {
      "get": {
        "summary": "Account Options",
        "description": "Account Options",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "owl_app_enabled": {
                      "type": "integer"
                    },
                    "legacy_account_mini": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "owl_app_enabled": true,
                  "legacy_account_mini": true
                }
              }
            }
          }
        },
        "operationId": "accountOptions"
      }
    },
    "/events/network/{network}": {
      "get": {
        "summary": "{network}",
        "description": "{network}",
        "parameters": [
          {
            "name": "network",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The network"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/videos/count": {
      "get": {
        "summary": "count",
        "description": "count (deprecated)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/v1/camera/usage": {
      "get": {
        "summary": "usage",
        "description": "usage",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/": {
      "get": {
        "summary": "",
        "description": " (deprecated)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "summary": "",
        "description": " (deprecated)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/v3/media/accounts/": {
      "get": {
        "summary": "",
        "description": " (deprecated)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/v1/accounts/{AccountId}/networks/{NetworkId}/sync_modules/{SyncId}": {
      "get": {
        "summary": "$sync_id",
        "description": "$sync_id",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/events/network": {
      "get": {
        "summary": "network",
        "description": "network (deprecated)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/network": {
      "get": {
        "summary": "network",
        "description": "network (deprecated)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/v2/videos": {
      "get": {
        "summary": "videos",
        "description": "videos (deprecated)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    }
  },
  "components": {
    "securitySchemes": {
      "TokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "TOKEN_AUTH",
        "description": "Authentication token obtained from login endpoint"
      }
    },
    "parameters": {
      "AccountId": {
        "name": "account_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[0-9]+$"
        },
        "description": "Unique account identifier",
        "example": "12345"
      },
      "NetworkId": {
        "name": "network_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[0-9]+$"
        },
        "description": "Network (sync module) identifier",
        "example": "67890"
      },
      "CameraId": {
        "name": "camera_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[0-9]+$"
        },
        "description": "Camera identifier",
        "example": "54321"
      },
      "UserId": {
        "name": "user_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[0-9]+$"
        },
        "description": "User identifier",
        "example": "98765"
      },
      "ClientId": {
        "name": "client_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[0-9]+$"
        },
        "description": "Client application identifier",
        "example": "11111"
      },
      "SyncId": {
        "name": "sync_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[0-9]+$"
        },
        "description": "Sync module identifier",
        "example": "22222"
      }
    },
    "responses": {
      "SuccessResponse": {
        "description": "Operation completed successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Success"
                }
              }
            }
          }
        }
      },
      "UnauthorizedError": {
        "description": "Authentication token is missing or invalid",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          }
        },
        "required": [
          "message"
        ]
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "account": {
            "type": "object",
            "properties": {
              "account_id": {
                "type": "integer",
                "description": "Account identifier"
              },
              "user_id": {
                "type": "integer",
                "description": "User identifier"
              },
              "client_id": {
                "type": "integer",
                "description": "Client identifier"
              },
              "new_account": {
                "type": "boolean",
                "description": "Whether this is a new account"
              },
              "tier": {
                "type": "string",
                "description": "Account tier (e.g., 'e002', 'prod')"
              },
              "region": {
                "type": "string",
                "description": "Account region (e.g., 'us', 'eu')"
              },
              "account_verification_required": {
                "type": "boolean",
                "description": "Whether account verification is required"
              },
              "phone_verification_required": {
                "type": "boolean",
                "description": "Whether phone verification is required"
              },
              "client_verification_required": {
                "type": "boolean",
                "description": "Whether client verification (2FA) is required"
              },
              "verification_channel": {
                "type": "string",
                "enum": [
                  "phone",
                  "email"
                ],
                "description": "Preferred verification channel"
              }
            }
          },
          "auth": {
            "type": "object",
            "properties": {
              "token": {
                "type": "string",
                "description": "Authentication token for subsequent requests"
              }
            }
          },
          "phone": {
            "type": "object",
            "properties": {
              "number": {
                "type": "string",
                "description": "Masked phone number"
              },
              "last_4_digits": {
                "type": "string",
                "description": "Last 4 digits of phone number"
              },
              "country_calling_code": {
                "type": "string",
                "description": "Country calling code"
              },
              "valid": {
                "type": "boolean",
                "description": "Whether phone number is valid"
              }
            }
          },
          "verification": {
            "type": "object",
            "properties": {
              "email": {
                "type": "object",
                "properties": {
                  "required": {
                    "type": "boolean"
                  }
                }
              },
              "phone": {
                "type": "object",
                "properties": {
                  "required": {
                    "type": "boolean"
                  },
                  "channel": {
                    "type": "string",
                    "enum": [
                      "sms",
                      "call"
                    ]
                  }
                }
              }
            }
          },
          "lockout_time_remaining": {
            "type": "integer",
            "description": "Seconds remaining if account is locked out"
          },
          "force_password_reset": {
            "type": "boolean",
            "description": "Whether password reset is required"
          },
          "allow_pin_resend_seconds": {
            "type": "integer",
            "description": "Seconds before PIN can be resent"
          }
        }
      },
      "HomescreenResponse": {
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/Account"
          },
          "networks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Network"
            }
          },
          "sync_modules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SyncModule"
            }
          },
          "cameras": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Camera"
            }
          },
          "sirens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Siren"
            }
          },
          "chimes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Chime"
            }
          },
          "video_stats": {
            "$ref": "#/components/schemas/VideoStats"
          },
          "doorbell_buttons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DoorbellButton"
            }
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Account identifier"
          },
          "email_verified": {
            "type": "boolean",
            "description": "Whether email is verified"
          },
          "phone_verified": {
            "type": "boolean",
            "description": "Whether phone is verified"
          }
        }
      },
      "Network": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Network identifier"
          },
          "name": {
            "type": "string",
            "description": "Network name"
          },
          "account_id": {
            "type": "integer",
            "description": "Associated account ID"
          },
          "armed": {
            "type": "boolean",
            "description": "Whether the network is armed"
          },
          "arm_string": {
            "type": "string",
            "enum": [
              "Armed",
              "Disarmed"
            ],
            "description": "Human-readable arm status"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Network creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          },
          "time_zone": {
            "type": "string",
            "description": "Network timezone"
          },
          "dst": {
            "type": "boolean",
            "description": "Daylight saving time enabled"
          }
        }
      },
      "SyncModule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Sync module identifier"
          },
          "name": {
            "type": "string",
            "description": "Sync module name"
          },
          "network_id": {
            "type": "integer",
            "description": "Associated network ID"
          },
          "serial": {
            "type": "string",
            "description": "Serial number"
          },
          "fw_version": {
            "type": "string",
            "description": "Firmware version"
          },
          "type": {
            "type": "string",
            "description": "Sync module type"
          },
          "subtype": {
            "type": "string",
            "description": "Sync module subtype"
          },
          "status": {
            "type": "string",
            "enum": [
              "online",
              "offline"
            ],
            "description": "Connection status"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether sync module is enabled"
          },
          "local_storage": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "Camera": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Camera identifier"
          },
          "name": {
            "type": "string",
            "description": "Camera name"
          },
          "network_id": {
            "type": "integer",
            "description": "Associated network ID"
          },
          "sync_module_id": {
            "type": "integer",
            "description": "Associated sync module ID"
          },
          "serial": {
            "type": "string",
            "description": "Camera serial number"
          },
          "fw_version": {
            "type": "string",
            "description": "Firmware version"
          },
          "type": {
            "type": "string",
            "enum": [
              "catalina",
              "owl",
              "mini",
              "doorbell"
            ],
            "description": "Camera type/model"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether camera is enabled"
          },
          "thumbnail": {
            "type": "string",
            "format": "uri",
            "description": "URL to current thumbnail image"
          },
          "status": {
            "type": "string",
            "enum": [
              "online",
              "offline"
            ],
            "description": "Camera connection status"
          },
          "battery": {
            "type": "string",
            "enum": [
              "ok",
              "low"
            ],
            "description": "Battery status"
          },
          "usage": {
            "type": "object",
            "properties": {
              "battery": {
                "type": "integer",
                "minimum": 0,
                "maximum": 110,
                "description": "Battery percentage"
              }
            }
          },
          "signals": {
            "type": "object",
            "properties": {
              "lfr": {
                "type": "integer",
                "description": "LFR signal strength"
              },
              "wifi": {
                "type": "integer",
                "description": "WiFi signal strength"
              },
              "temp": {
                "type": "integer",
                "description": "Temperature in Fahrenheit"
              }
            }
          },
          "local_storage": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "Siren": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "Chime": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "DoorbellButton": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "VideoStats": {
        "type": "object",
        "properties": {
          "auto_delete_days": {
            "type": "integer",
            "description": "Days after which videos are auto-deleted"
          },
          "storage": {
            "type": "integer",
            "description": "Storage used in bytes"
          },
          "storage_used_percentage": {
            "type": "number",
            "description": "Percentage of storage used"
          }
        }
      },
      "CommandResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Command identifier for status polling"
          },
          "network_id": {
            "type": "integer",
            "description": "Network where command was executed"
          },
          "complete": {
            "type": "boolean",
            "description": "Whether command completed immediately"
          },
          "status_code": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "status_msg": {
            "type": "string",
            "description": "Status message"
          }
        }
      },
      "CommandStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Command identifier"
          },
          "complete": {
            "type": "boolean",
            "description": "Whether command has completed"
          },
          "status_code": {
            "type": "integer",
            "description": "Command status code"
          },
          "status_msg": {
            "type": "string",
            "description": "Command status message"
          },
          "progress": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "Command progress percentage"
          }
        }
      },
      "LiveViewResponse": {
        "type": "object",
        "properties": {
          "command_id": {
            "type": "integer",
            "description": "Command identifier for this live view session"
          },
          "join_available": {
            "type": "boolean",
            "description": "Whether joining the stream is available"
          },
          "join_state": {
            "type": "string",
            "enum": [
              "available",
              "unavailable"
            ],
            "description": "Current join state"
          },
          "server": {
            "type": "string",
            "format": "uri",
            "description": "RTSP server URL for live stream"
          },
          "duration": {
            "type": "integer",
            "description": "Stream duration in seconds"
          },
          "continue_interval": {
            "type": "integer",
            "description": "Interval for continue requests in seconds"
          },
          "continue_warning": {
            "type": "integer",
            "description": "Warning time before stream ends in seconds"
          },
          "submit_logs": {
            "type": "boolean",
            "description": "Whether to submit logs for this session"
          },
          "new_command": {
            "type": "boolean",
            "description": "Whether this is a new command"
          },
          "media_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Media identifier if applicable"
          },
          "options": {
            "type": "object",
            "description": "Additional stream options"
          }
        }
      },
      "VideoClip": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Video clip identifier"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          },
          "deleted": {
            "type": "boolean",
            "description": "Whether clip is deleted"
          },
          "device_name": {
            "type": "string",
            "description": "Name of camera that recorded clip"
          },
          "device_id": {
            "type": "integer",
            "description": "Camera identifier"
          },
          "account_id": {
            "type": "integer",
            "description": "Account identifier"
          },
          "media": {
            "type": "string",
            "format": "uri",
            "description": "URL to video file"
          },
          "thumbnail": {
            "type": "string",
            "format": "uri",
            "description": "URL to thumbnail image"
          },
          "partial": {
            "type": "boolean",
            "description": "Whether clip is partial/incomplete"
          },
          "watched": {
            "type": "boolean",
            "description": "Whether clip has been watched"
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes"
          },
          "length": {
            "type": "number",
            "description": "Duration in seconds"
          }
        }
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Schedule identifier"
          },
          "network_id": {
            "type": "integer",
            "description": "Associated network ID"
          },
          "status": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ],
            "description": "Schedule status"
          },
          "name": {
            "type": "string",
            "description": "Schedule name"
          },
          "schedule": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScheduleEntry"
            },
            "description": "Array of schedule entries"
          },
          "format": {
            "type": "string",
            "description": "Schedule format version"
          }
        }
      },
      "ScheduleEntry": {
        "type": "object",
        "properties": {
          "dow": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "mon",
                "tue",
                "wed",
                "thu",
                "fri",
                "sat",
                "sun"
              ]
            },
            "description": "Days of week when this entry applies"
          },
          "devices": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Device IDs affected by this schedule entry"
          },
          "time": {
            "type": "string",
            "format": "date-time",
            "description": "Time when action should occur"
          },
          "action": {
            "type": "string",
            "enum": [
              "arm",
              "disarm"
            ],
            "description": "Action to perform"
          }
        }
      },
      "NotificationConfiguration": {
        "type": "object",
        "properties": {
          "notifications": {
            "$ref": "#/components/schemas/NotificationSettings"
          }
        }
      },
      "NotificationSettings": {
        "type": "object",
        "properties": {
          "low_battery": {
            "type": "boolean",
            "description": "Enable low battery notifications"
          },
          "camera_offline": {
            "type": "boolean",
            "description": "Enable camera offline notifications"
          },
          "camera_usage": {
            "type": "boolean",
            "description": "Enable camera usage notifications"
          },
          "scheduling": {
            "type": "boolean",
            "description": "Enable scheduling notifications"
          },
          "motion": {
            "type": "boolean",
            "description": "Enable motion detection notifications"
          },
          "sync_module_offline": {
            "type": "boolean",
            "description": "Enable sync module offline notifications"
          },
          "temperature": {
            "type": "boolean",
            "description": "Enable temperature alert notifications"
          }
        }
      },
      "VersionResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message"
          },
          "code": {
            "type": "integer",
            "description": "Response code"
          },
          "update_available": {
            "type": "boolean",
            "description": "Whether an update is available"
          },
          "update_required": {
            "type": "boolean",
            "description": "Whether an update is required"
          }
        }
      },
      "RegionsResponse": {
        "type": "object",
        "properties": {
[...]
